{% extends "./base.html" %}

{% block title %} Gestion de platos {% endblock %}

{% block body %}
<!-- Contenido específico de la gestión de platos -->
<div class="row mt-10">
    <!-- Columna para el formulario de registro -->
    <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <!-- Mensajes para informar al usuario -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
         <!-- Encabezado de la sección -->
        <h2>Gestión de platos</h2>
        <!-- Formulario de registro de platos -->
        <div class="card">
            <div class="card-body">
                <form action="/registrarPlato/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3 text-left">
                        <label for="txtcodigo" style="float: left; padding-left: 5px;">Código</label>
                        <input type="number" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="123456" minlength="6" size="6" required >
                    </div>
                    <div class="form-group mb-3 text-left">
                        <label for="txtnombre" style="float: left; padding-left: 5px;">Nombre</label>
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Bocadillo" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3 text-left">
                        <label for="numprecio" style="float: left; padding-left: 5px;">Precio</label>
                        <input type="text" id="numprecio" name="numprecio" class="form-control" placeholder="10"  maxlength="9"  required>
                    </div>
                    <div class="form-group mb-3 text-left">
                            <button type="submit" class="btn btn-success btn-block w-100">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Columna para el listado de platos -->
    <div class=" col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <!-- Encabezado del listado de platos -->
        <h1>Listado de platos</h1>
        <!-- Tabla de platos -->
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ciclo para mostrar cada plato -->
                    {% for c in platos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.precio}}</td>
                        <!-- Botones de edición y eliminación para cada plato -->
                        <td><a href="edicionPlato/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminacionPlato/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}